---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";

import LuArrowRight from "~/assets/icons/LuArrowRight.svg";

import SupportDoodle from "~/assets/scribbles/support-us-support.svg";
import UsDoodle from "~/assets/scribbles/support-us-us.svg";

import coolAsHack from "~/assets/images/coolashack/image-2.jpg";
import scrapyardLon from "~/assets/images/scrapyard-lon/image-1.jpg";
import scrapyardCam from "~/assets/images/scrapyard-cam/image-1.jpg";
import counterspellCam from "~/assets/images/counterspell-cam/image-1.jpg";

import Card from "~/components/cards/Card.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header/Header.astro";

import PartnersMarquee from "~/components/partners/PartnersMarquee.svelte";

const partners = await getCollection("partners");
---

<Layout>
  <Header color="cyan">
    <h1 class="font-satoshi text-6xl font-black tracking-tighter">
      <span class="relative isolate"
        >Support<SupportDoodle
          class="absolute inset-x-0 -bottom-2 -z-10 h-auto w-full translate-x-0.5"
        /></span
      >
      <span class="relative isolate">
        us
        <UsDoodle class="absolute top-4 -right-3 -z-10 h-auto w-3" />
      </span>
    </h1>
  </Header>
  <div class="mx-auto max-w-7xl space-y-12 p-8">
    <div class="space-y-6">
      <Card title="Volunteer">
        <div class="text-xl leading-normal text-neutral-800">
          <p>
            We're looking for passionate volunteers to help with our next
            events. If you’re over 18, can pass an enhanced DBS check, and love
            helping young people, we’d love to hear from you!
          </p>
          <a
            href="mailto:hello@youthacks.org"
            class="group mt-1 flex w-fit items-center gap-2 font-semibold text-cyan-800 underline-offset-2 transition hover:text-cyan-900 hover:underline"
          >
            <span>hello@youthacks.org</span>
            <LuArrowRight
              class="size-4 transition-transform group-hover:translate-x-0.5"
              stroke-width={3}
            />
          </a>
          <p class="mt-3 text-base text-neutral-600">
            <span class="font-semibold">Coming up:</span>
            Daydream, 27th-28th September 2025
          </p>
        </div>
      </Card>
      <Card title="Donate">
        <div class="text-xl leading-normal text-neutral-800">
          <p>
            Our events are always free to attend for young people. If you’re a
            company or individual who wants to have a meaningful impact on the
            next generation of makers, we’d love for you to get involved.
          </p>
          <a
            href="mailto:donate@youthacks.org"
            class="group mt-1 flex w-fit items-center gap-2 font-semibold text-cyan-800 underline-offset-2 transition hover:text-cyan-900 hover:underline"
          >
            <span>donate@youthacks.org</span>
            <LuArrowRight
              class="size-4 transition-transform group-hover:translate-x-0.5"
              stroke-width={3}
            />
          </a>
        </div>
      </Card>
    </div>

    <div class="text-center">
      <h2 class="font-satoshi text-3xl font-bold">Past sponsors</h2>
      <p class="mt-2 text-lg text-neutral-600">
        Amazing organisations we've worked with to bring our events to life.
      </p>
      <div class="mt-4">
        <PartnersMarquee partners={partners} client:idle />
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-4 overflow-x-clip p-8 pt-4">
    <Image
      src={coolAsHack}
      alt=""
      class="aspect-video h-64 w-auto rounded-lg border border-neutral-300 object-cover shadow-sm odd:rotate-1 even:-rotate-1"
    />
    <Image
      src={scrapyardLon}
      alt=""
      class="aspect-video h-64 w-auto rounded-lg border border-neutral-300 object-cover shadow-sm odd:rotate-1 even:-rotate-1"
    />
    <Image
      src={scrapyardCam}
      alt=""
      class="aspect-video h-64 w-auto rounded-lg border border-neutral-300 object-cover shadow-sm odd:rotate-1 even:-rotate-1"
    />
    <Image
      src={counterspellCam}
      alt=""
      class="aspect-video h-64 w-auto rounded-lg border border-neutral-300 object-cover shadow-sm odd:rotate-1 even:-rotate-1"
    />
  </div>
  <Footer />
</Layout>
